#canvas-container { width: 100%; text-align:center; margin: auto; }
#other-divs{text-align:center;}
body{
  background-image: linear-gradient(to right, purple , blue);
}

#play{
  position:absolute;
  bottom:50%;
  right:46%;
  border-style:none;
  font-size:50px;
  text-align:center;
  background-color:purple;
  border-radius:12px;
  transition-duration: 0.4s;
}
#play:hover{
  
  border-radius:15px;
  
}
  
h1{
  font-size:50px;
}
h2{ font-size:25px;}
