#canvas-container { width: 100%; text-align:center; margin: auto; }
#other-divs{text-align:center;}
body{
  background-image: linear-gradient(to right, purple , blue);
}

#play{
  border-style:none;
  font-size:30px;
  text-align:center;
  background-color:purple;
}
