body {
  background-image: linear-gradient(to right, purple , blue);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size:25px;
}

#canvas-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

#play {
  outline: none;
  position: absolute;
  bottom: 50%;
  right: 46%;
  border-style: none;
  font-size: 50px;
  text-align: center;
  background-color: #880085;
  border-radius: 12px;
  transition-duration: 0.4s;
}

#play:hover { 
  border-radius: 20px;
  background-color: purple;
}

.other-divs {
  text-align: center;
}

#widgetbot {
  top: 100%;
  right: 22%;
  position:absolute;
}
input{
  border-style:none;
  border-radius:5px;
  outline:none;
}
input[type=submit]{background-color:#880085;}
input[type=submit]:hover{background-color:purple;}
input[type=submit]:active{background-color:purple; outline:blue solid 1px;}
input[type=text]{width:480px;}

