

body{
 background-color:purple;
 }
 h1{
 vertical-align:top;
 text-align:center;
 background-color:lightblue;
 }
.BuyBox{
 position:absolute;
 background-color:white;
 text-align:center;
 border-style:solid;
 border-color:grey;
 width:50%;
 
 right:25%;
}
#coins{
 position:absolute;
 right:0px;
 top:0px;
 width:100px;
display: inline-block;
 

}

#cointext{
 display: inline-block;
}

#cimg{
 width:25px;
 height:25px;
 vertical-align:-5px;
}
#titlecont{
 background-color:lightblue;
 top:0px;
 position:fixed;
 width:100%;
 
}
