body{
 background-color:purple;
 }
 h1{
 text-align:center;

 }
.BuyBox{
 position:absolute;
 background-color:white;
 text-align:center;
 border-style:solid;
 border-color:grey;
 width:50%;
 
 right:25%;
}
